<app-header />
<section class="house p-5">
  <div class="grid grid-cols-4 gap-5 h-[90vh]">
    <div class="filter p-3 col-span-1 flex flex-col gap-3 shadow-md">
      <div class="flex items-center justify-between">
        <mat-label class="font-semibold text-xl tracking-widest text-purple-800"
          >Filter</mat-label
        >
        <button mat-stroked-button color="primary" (click)="resetFilters()">
          Reset Filters
        </button>
      </div>
      <div class="flex flex-col gap-1">
        <mat-label class="font-medium">Room Type</mat-label>
        <ng-container class="flex gap-1">
          <mat-button-toggle-group
            [(ngModel)]="selectedType"
            (change)="applyFilters()"
            aria-label="Font Style"
          >
            @for (item of types; track $index) {
            <mat-button-toggle [value]="item">{{ item }}</mat-button-toggle>
            }
          </mat-button-toggle-group>
        </ng-container>
      </div>
      <div class="flex flex-col gap-1">
        <mat-label class="font-medium">Number of Bedrooms</mat-label>
        <ng-container class="flex gap-1">
          <mat-button-toggle-group
            [(ngModel)]="selectedBedRooms"
            (change)="applyFilters()"
            aria-label="Font Style"
          >
            @for (item of noOfBedrooms; track $index) {
            <mat-button-toggle [value]="item">{{ item }}</mat-button-toggle>
            }
          </mat-button-toggle-group>
        </ng-container>
      </div>
      <div class="flex flex-col gap-1">
        <mat-label class="font-medium">Number of Bathrooms</mat-label>
        <ng-container class="flex gap-1">
          <mat-button-toggle-group
            [(ngModel)]="selectedBathRooms"
            (change)="applyFilters()"
            aria-label="Font Style"
          >
            @for (item of noOfBathRoom; track $index) {
            <mat-button-toggle [value]="item">{{ item }}</mat-button-toggle>
            }
          </mat-button-toggle-group>
        </ng-container>
      </div>
    </div>
    <div
      class="w-auto h-auto flex flex-col relative gap-10 col-span-3 overflow-y-auto p-5"
    >
      <div class="" *ngIf="filteredHouseList.length === 0">
        No houses available
      </div>

      <ng-container
        *ngFor="let item of filteredHouseList | slice : start : end"
      >
        <app-house-card
          class="w-[100%] shadow-2xl shadow-blue-900"
          [houseList]="item"
          (likeClicked)="onLikeClicked($event)"
          (interedClick)="handleOnClickedInterest($event)"
        />
      </ng-container>

      <mat-paginator
        class="shadow-2xl w-full shadow-black"
        [length]="filteredHouseList.length"
        (page)="onPageChange($event)"
        pageSize="3"
      ></mat-paginator>
    </div>
  </div>
</section>
